.number-card {
  height: 300px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}

.number-card-number { 
  font-size: 3em;
  font-weight: bold;
}